* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    color: #fff;
    font-weight: 400;
    font-size: 1.2rem;
    
}

main {
    
}

.article-header {
    width: 100%;
    height: 100vh;
    margin-bottom: 150px;
    background-image: url("/Shahbazrepo/images/back-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.top-content-text {
    opacity: 1;

    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit;
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

.article-header .top-content-text h1 {
    font-size: 3rem;
    text-shadow: 3px 3px 3px rgb(81, 36, 36);
}

.article-header .top-content-text p {
    color: rgb(240, 224, 224);
}

article {
    height: 400vh;
    max-width: 900px;
    width: 75%;
    margin: 20px auto;
}

article img {
    scale: .8;
    opacity: 0;
    animation: animated-pics linear forwards;
    animation-timeline: view();
    animation-range: 150px 500px;
}

@keyframes animated-pics {
    to {
        scale: 1;
        opacity: 1;
    }
}


.scroll-watcher {
    position: fixed;
    top: 0;
    transform-origin: left;
    height: 5px;
    width: 100%;
    background-color: lime;
    scale: 0 1;
    z-index: 100;
    animation: watcher linear;
    animation-timeline: scroll();
}
@keyframes watcher {
    from {
        scale: 0 1;
    }
    to {
        scale: 1 1;
    }
}